@import '../../../assets/styles/variables';

.mobile-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  .page-heading {
    &__title {
      text-align: center;
      margin: 60px 0 40px 0;
      color: #7f7f7f;
      font-size: 28px;
    }
  }
}
